/**
 *
 */
.color-select
	// We use negative margin here to offset the padding set in the dialog
	margin: -16px -16px -8px -16px

	.value
		height: 24px
		background-color: $wedgewood

	.options
		@include display(flex)
		@include flex-direction(row)

		.option
			height: 24px
			cursor: pointer
			@include flex(1)