/**
 *
 */
.info-view-active
	.view-board
		.controls
			z-index: 10000

.info
	width:      100% 
	height:     100% 
	max-width:  100% 
	margin-top: 0px 
	color: 		$white

	.infocarousel
		position:static !important
		width:      100% 
		height:     100% 

		.slider-decorator-0
			visibility: hidden

		.slider-decorator-1
			visibility: hidden
		
		.slider-decorator-2

			button
				color: 		$white 				!important
				font-size: 	70px				!important
				padding: 	0px 5px 0px 5px		!important

		.slide1
			padding: 	85px 0px 0px 95px
			z-index: 	9002

			p
				padding-bottom: 14px

		.slide2
			z-index: 	9004