@red:      #EB584A;
@red-dark: #9B3934;

@blue:        #4F819A;
@white:       #FFFFFF;
@yellow:      #DCC75B;

@black:       #190C21;
@black-light: #221A26;

@violet:      #724A7F;
@violet-dark: #5A3866;

@gray:       #B2B2B2;
@gray-dark:  #656565;
@gray-light: #EDEDED;

@turquoise:      #72BDBB;
@turquoise-dark: #619B98;

@UILayerZIndex: 10;

html {
	width:    100%;
	height:   100%;
	position: fixed;

	img {
		display: block;
	}

	body {
		border:  0;
		margin:  0;
		padding: 0;
	}
}

.sidebar {
	float:            left;
	background-color: @black;

	.sidebar-logo {
		top:      0;
		position: absolute;

		width:  50px;
		margin: 15px;
	}

	.sidebar-avatar-wrapper {
		width:  56px;
		height: 56px;
		margin: 10px;

		border:        2px solid @black-light;
		border-radius: 50%;

		.sidebar-avatar {
			width:  52px;
			height: 52px;
			margin: 2px;

			border-radius: 50%;
		}
	}
}

.scrollable {
	.wrapper {
		background-color: @gray-light;
	}

	.minimap {
		width:  192px;
		height: 108px;

		top:      8;
		right:    8;
		position: absolute;

		border: 2px solid @gray;

		z-index:          @UILayerZIndex;
		background-color: @gray-light;

		.cursor {
			z-index:          @UILayerZIndex + 1;
			background-color: @white;
		}
	}
}

.board {
	background-color: @white;
}
