@import "form.less";

@import "dialog.less";
@import "custom-dialogs.less";

@import "logo.less";
@import "sidebar.less";
@import "workspace.less";
@import "buttons.less";

@import "board.less";
@import "ticket.less";

@import "avatar.less";

@import "options.less";

@import "board-preview.less";
@import "edit-board-dialog.less";
@import "edit-ticket-dialog.less";

/**
 * Core stuff.
 */
html {
	width:    100%;
	height:   100%;
	position: fixed;

	font-family: 'Lato', sans-serif;

	background-color: @black;

	img {
		display: block;
	}

	textarea {
		font-size:   14px;
		font-family: 'Lato', sans-serif;

		border: none;
		resize: none;
	}

	body {
		border:  0;
		margin:  0;
		padding: 0;
	}
}

/**
 * Layout
 */
.application {
	.flexbox();
	.flex-direction(row);

	.view {
		.flex(1, 1);

		width:  100%;
		height: 100%;

		&.view-board {
			background-color: @gray-light;
		}

		&.view-workspace {
			background-color: @white;
		}
	}

	.sidebar {
		.flex(1, 0);
	}
}

/**
 * Utilities
 */
.hidden {
	display: none;
}

.inline {
	display: inline;
}
