@import "mixins.less";
@import "variables.less";

.scrollable {
	.board {
		background-color: @white;
	}

	.wrapper {
		height:   100%;
		overflow: hidden;
		position: relative;

		background-color: @gray-light;
	}
}
