@import "mixins.less";
@import "variables.less";

.board-preview {
	.flex(0, 0);

	margin: 8px;
	border: 8px solid @gray-light;

	background-color: @gray-light;

	&:hover {
		border-color:     @turquoise;
		background-color: @turquoise;
	}

	.minimap-container {
		.transition(all, .2s);
		.box-shadow(fade(@black, 20%));

		width:  192px;
		height: 192px;

		margin-bottom: 8px;

		cursor:           pointer;
		background-color: @gray-light;

		&:hover {
			.box-shadow(fade(@black, 40%), 0px, 0px, 2px, 2px);
		}

		.minimap {
			z-index:  0;
			position: static;

			border:           0px solid;
			background-color: @white;
		}
	}

	.controls {
		.transition(color, .2s);

		width:  192px;
		height: 36px;

		margin:   0px;
		overflow: hidden;

		cursor: pointer;

		&:hover {
			color: white;
		}

		.name {
			line-height: 36px;
			overflow:    hidden;
		}

		i {
			float:  right;
			margin: 8px;
		}
	}
}
