@import "variables.less";

/**
 *
 */
.logo {
	width:  48px;
	height: 48px;
	margin: 8px;

	.logo-header-bar {
		width:  48px;
		height: 8px;
		background-color: @turquoise;
	}

	.logo-content-area {
		width:  32px;
		height: 32px;

		border-left:   8px solid @white;
		border-right:  8px solid @white;
		border-bottom: 8px solid @white;
	}
}
