@import "variables.less";

/**
 *
 */
.sidebar {
	width:    64px;
	height:   100%;
	position: relative;

	background-color: @black;

	.sidebar-logo {
		top:      0;
		position: absolute;

		width:  48px;
		margin: 8px;
	}

	.sidebar-avatar-wrapper {
		bottom:   0;
		position: absolute;

		width:  44px;
		height: 44px;
		margin: 8px;

		border:        2px solid @black-light;
		border-radius: 50%;

		.sidebar-avatar {
			width:  44px;
			height: 44px;

			border-radius: 50%;
		}
	}
}
